@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

label.block.w-full {
  font-weight: bold;
  font-size: 1.1rem;
}

.error {
  color: rgb(248, 0, 0);
  font-style:italic;
  margin-bottom: 0.6rem;
  margin-top: 0.1rem;
}

input.block.w-full {
  background-color: #fff;
  border: 1px solid #ececec;
  color: #3f3f3f;
  outline-color: #ececec;
  transition: 0.5s;
}

input.block.w-full:focus {
  background-color: #fff;
  border: 1px solid #f8f8f8 !important;
  outline: 1px solid #f8f8f8;
  color: #a3a3a3;
}

textarea {
  background-color: #fff;
  border: 1px solid #ececec;
  color: #3f3f3f;
  outline-color: #ececec;
  transition: 0.5s
}

textarea:focus {
  background-color: #fff;
  border: 1px solid #f8f8f8 !important;
  outline: 1px solid #f8f8f8;
  color: #a3a3a3;
}

.card {
  width: 100%;
}